* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header CSS */
.header-container {
    display: flex;
    align-items: center;
    padding: 130px 150px 0px;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 170px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 30px;
}

.header-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}

.primary-button {
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #FFF;
    background: #E55473;
}

/* Our Featured Flowers part CSS */
.featured-section {
    padding: 0px 150px;
    margin-bottom: 150px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.featured-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 50px;
}

.featured-flower-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 24px;
}

.featured-image-1 {
    width: 464px;
    height: 538px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    line-height: 35px;
    text-decoration: 2px underline;
    text-decoration-color: #E55473;


}

.featured-image-2 {
    width: 464px;
    height: 538px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    line-height: 35px;
    text-decoration: 2px underline;
    text-decoration-color: #E55473;
}

.featured-image-3 {
    width: 464px;
    height: 538px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    line-height: 35px;
    text-decoration: 2px underline;
    text-decoration-color: #E55473;
}

.featured-flower {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}

/* -------------
    Bouns Part 
 ------------------*/
.bouns-carts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 30px 70px 0px 70px;

}

.bouns-cart {
    width: 300px;
    height: 480px;
    padding: 18px;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 4px 8px 4px gray;
}

.bouns-cart img {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 12px;
}

.populer-bonus-title {
    font-size: 18px;
    font-weight: 600;
    color: #272727;
    padding-bottom: 15px;
}

.bouns-price {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

button:hover {
    background-color: #e76a85;
}

.cart-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    background: #E55473;
    position: absolute;
    bottom: 30px;
}

/* Hot deal part CSS */
.deal-section {

    padding: 100px 300px 100px 300px;
    background: rgba(229, 84, 115, 0.05);
    margin: 50px 0px 130px 0px;
}

.deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.highlight {
    color: #E55473;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

/* Instagram part CSS */
.insta-img-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 130px;
}

.insta-img-container img {
    border-radius: 8px;
}

/* Get The Latest Deals */
.latest-deal-container {
    padding: 100px 250px 100px 250px;
    text-align: center;
    background-image: url("../Flower\ Asset/Rectangle-9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 220px 0px 220px;
    line-height: 30px;
    margin-bottom: 130px;
}

input[type="email"] {
    width: 700px;
    height: 64px;
    border: 2px solid rgba(128, 128, 128, 0.61);
    border-radius: 5px;
    padding-top: 2px;
    margin: 10px;
}

/* Footer CSS */
.footer-container {
    text-align: center;
    background: #111010;
    padding: 200px;
}

.footer-title {
    color: white;
    padding-bottom: 25px;
}

.footer-details {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 35px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}